:vars {
    --background: #d4baa4;
    --foreground: #331e12;
    --separators: #585858;
    --hover: var(--foreground);
    --ws-active: var(--foreground);
    --ws-inactive: var(--background);
    --ws-empty: var(--background);
    --ws-hover: var(--foreground);
    --window-bg: alpha(var(--background),1);
    --module-bg: alpha(var(--background),1);
    --border-color: var(--foreground);
}

/*this is linked to cyna-colors*/