@import 'style/cyna-colors.css';
@import 'style/bar.css';
@import 'style/workspaces.css';

* {
    all: unset;
    color: var(--foreground);
    font-size: 18px;
    font-family: "Itim";
    border-radius: 12px;
}