@import "trial.css";

* {
    all: unset;
    color: var(--foreground);
    font-size: 18px;
    font-family: "Itim";
    border-radius: 12px;
}

#seperators {
    color: var(--color8);
    font-size: 20px;
    padding: 0 10px 5px 10px;
}

#status-bar {
    background-color: transparent;
}

#bar {
    background-color: var(--background);
    border: solid 4px var(--border-color);
    margin: 0 1rem 0.3rem 0;
    box-shadow: 4px 4px #331e12;
}

#left-container, #middle-container, #right-container {
  margin: 10px;
}
