#status-bar {
    background-color: transparent;
}

#center {
    background-color: #d4baa4;
    border-radius: 12px;
    border: solid 4px #331e12;
    margin: 0 1rem 1rem 0;
    box-shadow: 4px 3px #331e12;
}
