#profile {
    color: var(--foreground);
    margin: 3px 0px;
    padding: 3px 8px;
}

#profile>label, #power-button>label, #reboot-button>label, #lock-button>label, #uptime-logo{
    font-size: 25px;
    font-family: 'NotoSansM Nerd Font Propo';
}

#profile:hover, #power-button:hover, #reboot-button:hover, #lock-button:hover  {
    color: var(--background);
    background-color: var(--foreground);
}

#power-button, #reboot-button, #lock-button {
    background-color: var(--background);
    border: solid 2px var(--foreground);
}

#power-button {
    color: var(--red);
}

#reboot-button {
    color : var(--yellow);
}

#lock-button {
    color : var(--blue);
}

#pfp {
    border: solid 1.5px var(--foreground);
    margin: 8px 30px 5px;
}

#whoami {
    background-color: var(--background);
    border: solid 2px var(--foreground);
}

#user {
    color: var(--foreground);
    font-family: 'Itim';
}

#hostname {
    margin: 0 0 8px;
    font-size: 12px; 
    color: var(--foreground);
    font-family: 'Itim';
}

#uptime-info {
    background-color: var(--background);
    border: solid 2px var(--foreground);
    padding: 10px 0px;
}

#uptime-logo {
    margin: 0 20px;
    color: var(--green);
}

#hardware-info {
    background-color: var(--background);
    border: solid 2px var(--foreground);
    padding: 5px 35px;
}

#trial-progress-bar {
    color: var(--foreground);
    border: solid 10px var(--blue)
}