#settings {
    color: var(--foreground);
    margin: 3px 0px;
    padding: 3px 8px;
}

#settings:hover {
    background-color: var(--foreground);
    color: var(--background);
}

#settings>label {
    font-size: 25px;
    font-family: 'NotoSansM Nerd Font Propo'; 
}



