:vars {
	--background: #d4baa4;
	--foreground: #331e12;
    --black: #2e2e2e;
    --red: #9c4a3a;
    --green: #6a7f4d;
    --yellow: #c4a514;
    --blue: #4b6a85;
    --magenta: #7d4a73;
    --cyan: #4b9a8b;
    --white: #f4e1c1;
	--gray: #5c5c5c;
}
